<div class="brag_bg">
  <div class="header">
    <div class="button">
      <%= link_to "/", class: "back_link" do %>
        <%= image_tag "back_button.svg", alt: "back button", class: "back_button" %>
      <% end %>
    </div>
  </div>

  <div class="logo_wrap">
    <%= image_tag "brag_logo.svg", alt: "Brag Docs Logo", class: "logo" %>
  </div>

  <div class="content">
    <div class="contain flex flex-col gap-8">
      <div>
        <h1 class="text-xl md:text-2xl font-bold text-green-800 ">My Goals in 2025</h1>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">🧠 Goal:</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-1">
          <li>- มีความรู้ในเรื่องของ design tools ที่แน่นขึ้น(อยากเป็น advanced) เช่น Figma, Photoshop, Illustrator</li>
          <li>- สอบ Toeic ให้ได้ 900++</li>
          <li>- Monkeytype ให้ได้ 55wpm 95% accurancy</li>
          <li>- เรียนรู้ทฤษฎีต่างๆในการออกแบบ ux/ui</li>
          <li>- ลดน้ำหนัก 10 กิโล !!!!!</li>
        </ul>
      </div>

      <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">👤 Self:</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-1">
          <li>- ท่องคำศัพท์เพื่อใช้ในการสอบ TOEIC วันละ 10 คำ</li>
          <li>- เรียนภาษาสเปนและสามารถฟังเข้าใจในขั้นพื้นฐาน</li>
          <li>- ทำ code war ทุกวัน อย่างน้อยวันละข้อ</li>
        </ul>
      </div>

      <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">🤝 Team:</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-1">
          <li>ช่วยแชร์ความรู้ในด้านที่ถนัดให้กับทีม เช่น keycloak theme</li>
        </ul>
      </div>

      <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">🧪 ODT:</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-1">
          <li>พัฒนาซอฟต์แวร์ดีๆ อย่างมีความสุข</li>
        </ul>
      </div>

      <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">💼 Client:</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-1">
          <li>สร้างโปรเจ็คที่มีคุณภาพและสามารถส่งมอบให้ลูกค้า</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer">
    <%= image_tag "footer.svg", alt: "footer", class: "footer_img" %>
  </div>
</div>
