<div class="brag_bg">
  <div class="header">
    <div class="button">
      <%= link_to "/", class: "back_link" do %>
        <%= image_tag "back_button.svg", alt: "back button", class: "back_button" %>
      <% end %>
    </div>
  </div>

  <div class="logo_wrap">
    <%= image_tag "brag_logo.svg", alt: "Brag Docs Logo", class: "logo" %>
  </div>

  <div class="content">
    <div class="contain">
        <h1>My goal in 2025</h1>
        <p>- มีความรู้ในเรื่องของ design tools ที่แน่นขึ้น(อยากเป็น advanced) เช่น Figma, Photoshop, Illustrator</p>
        <p>- สอบ Toeic ให้ได้ 900++</p>
        <p>- Monkeytype ให้ได้ 55wpm 95% accurancy</p>
        <p>- เรียนรู้ทฤษฎีต่างๆในการออกแบบ ux/ui</p>
        <p>- วาดรูปให้เพื่อนๆในทีมคนละรูป</p>
        <p>- ลดน้ำหนัก 10 กิโล !!!!!</p>

      <p class="outline-text">เนื้อหาเกมจะแสดงที่นี่</p>
    </div>
  </div>

  <div class="footer">
    <%= image_tag "footer.svg", alt: "footer", class: "footer_img" %>
  </div>
</div>
